<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid60" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="MonoAndroid60" />
  <package id="RestSharp" version="105.2.3" targetFramework="MonoAndroid60" />
  <package id="Square.OkHttp" version="2.7.5.0" targetFramework="MonoAndroid60" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="MonoAndroid60" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="MonoAndroid60" />
  <package id="UptimeSharp" version="2.1.0.0" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.Android.XamarinItemTouchHelper" version="1.1.4" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.2.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.2.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.2.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.1.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.2.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="27.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="27.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="27.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Location" version="27.0.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Maps" version="27.0.0.0" targetFramework="MonoAndroid60" />
</packages>